.levelContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundColor);
  height: 100%;
  flex: 1;
}
.levelContent {
  min-width: 320px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.logoLevel img {
  width: 100px;
  height: auto;
}
.levelContent h2 {
  margin-bottom: 15px;
}
.levels {
  width: 180px;
  padding: 20px;
  border: 1px solid gray;
  text-align: center;
  margin: 10px 0px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.levels:hover {
  border: 2px solid var(--midGreen);
}
.levels span {
  padding: 5px 40px;
  color: var(--DarkGreen);
  display: flex;
  text-align: center;
}
.level4 {
  margin-bottom: 25px;
}
@media (min-width: 400px) {
  .levelContainer {
    background-color: white;
  }
  .levelContent {
    box-shadow:
      0 4px 8px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
    width: 380px;
    background-color: var(--backgroundColor);
  }
}
