.addWordContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addWordForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
  width: 100%;
}
.addWordForm label {
  width: 100%;
  display: block;
}
.areaInput textarea {
  min-height: 80px;
  border: 0.5px solid gray;
}
.textInput input {
  padding: 8px;
  border: 0.5px solid gray;
}
.areaInput textarea,
.textInput input {
  width: 280px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.addButton {
  align-self: center;
  margin-top: 10px;
}
.boxContainer {
  width: 100%;
}
