.bigButton {
  padding: 15px;
  width: 300px;
  border-radius: 30px;
  margin: 5px;
  background-color: var(--lightGreen);
  color: black;
  border: none;
}
.bigButton:hover {
  background-color: var(--darkGreen);
  color: white;
  cursor: pointer;
}
